header{
	background-color: #000;
}
header nav{
	width: 100%;
    display: flex;
    align-items: center;
}
header nav img{
    width: 10%;
    align-self: start;
}

.buscador{
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}
.heroe{
    width: 45%;
    display: inline-block;
    background-color: #FAF8FA;
    margin-bottom: 1.5rem;
}
.heroe button{
    background-color:  #ff0000;
    color: #fff;
    padding: 10px;
    border: none;
    margin-top: 10px;
}
.heroe img{
    border-radius: 50%;
    width: 50%;
    float: left;
    position: relative;
    left: -10px;
    top: -10px;
}
.nombre_herore{
    position: relative;
    top: -10px;
    font-size: 1.5rem;
}
.heroe .related ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.heroe .related ul li{
    display: inline-block;
}

aside{
    background-color: #d9d9d9;
    width: 20%;
    float: left;
}

.comics_fav{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.delete_comic{
    width: 6px;
    border: none;
    position: relative;
    align-self: flex-end;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}
.modal-contenido{
    background-color:#fff;
    width:40%;
    height: 45%;
    margin: 10% auto;
    position: relative;
}
.modal-contenido .modal-body{
    padding: 5%;
}
.modal-contenido button{
    border: none;
}
.modal-contenido .close{
    border: 0;
    float: right;
}
.modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;  
}
.btnModales{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.modal-contenido .btnaddFav{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2%;
}

.my_favourites_ttl{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin:20px 0px  auto;
}

.my_favourites_ttl h4{
    font-size: xx-large;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline-block;margin: 0px 5px;}

ul.pagination li a {
    color: rgb(161, 161, 161);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #ff0000;
    color: white;
    border: 1px solid #ff0000;
}

/*Media Querys*/

@media screen and (max-width:800px) {
    .heroe{
        width: 90%;
    }
}